<div class="about-us-container py-10">
  <div class="main-wrapper">
    <div>
      TEXTO
    </div>
    <div>
      IMAGEN
    </div>
  </div>
</div>

<style>
  .about-us-container {
    background-color: #E6AF6A;
    .main-wrapper {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>