<header class="header-container py-3">
  <nav>
    <div class="social-wrapper">
      <a href="https://wa.me/5491157681480" target="_blank" rel="noopener noreferrer nofollow">
        <i class="mdi mdi-whatsapp" aria-hidden="true"></i>&nbsp;+54 9 11 5768-1480
      </a>
      <a href="https://www.instagram.com/antiguedadesadrian/" target="_blank" rel="noopener noreferrer nofollow">
        <i class="mdi mdi-instagram" aria-hidden="true"></i>&nbsp;@antiguedadesadrian
      </a>
      <a href="https://www.facebook.com/adrian.gomez.35574" target="_blank" rel="noopener noreferrer nofollow">
        <i class="mdi mdi-facebook" aria-hidden="true"></i>&nbsp;Antiguedades Adrian
      </a>
    </div>
    <div class="navbar-wrapper mt-5">
      <div>
        <a>Antiguedades Adrian</a>
      </div>
      <div class="ancor-items">
        <a>Nosotros</a>
        <a>Compramos</a>
        <a>Tasaciones</a>
        <a>Contacto</a>
      </div>
    </div>
  </nav>
</header>

<style>
  .header-container {
    background-color: black;
    border-bottom: 1px solid #333333;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;

    a {
      color: white;
      font-size: 16px;
      line-height: 18px;
      display: flex;
    }

    nav {
      width: 87%;
      
      .social-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        .mdi {
          font-size: 20px;
        }
      }
  
      .navbar-wrapper {
        display: flex;
        justify-content: space-between;
  
        .ancor-items {
          display: inherit;
          gap: 15px;
        }
      }
    }
  }
</style>
