<header class="header-container py-3">
  <nav>
    <div class="social-wrapper">
      <a>Whatsapp</a>
      <a>Instagram</a>
      <a>Facebook</a>
    </div>
    <div class="navbar-wrapper">
      <div>
        <a>Antiguedades Adrian</a>
      </div>
      <div class="ancor-items">
        <a>Nosotros</a>
        <a>Compramos</a>
        <a>Tasaciones</a>
        <a>Contacto</a>
      </div>
    </div>
  </nav>
</header>

<style>
  .header-container {
    background-color: black;
    border-bottom: 1px solid #333333;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;

    a {
      color: white;
    }

    nav {
      width: 87%;
      
      .social-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
      }
  
      .navbar-wrapper {
        display: flex;
        justify-content: space-between;
  
        .ancor-items {
          display: inherit;
          gap: 15px;
        }
      }
    }
  }
</style>
